.container-project {
  display: flex;
  align-items: flex-start;
}

.content {
  margin-left: 20px;
}

.content img {
  width: 400px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3 ease;
  cursor: pointer;
  filter: brightness(50%);
}

.content img:hover {
  // transform: scale(1 0.05);
  // box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  filter: brightness(90%);
}

// .gallery-container {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 20px;
//   justify-content: center;
//   padding: 2rem;
// }

// .project-box {
//   position: relative;
//   width: 300px;
//   height: 180px;
//   overflow: hidden;
//   border-radius: 10px;
//   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
//   text-decoration: none;
// }

// .project-box img {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   transition: transform 0.4s ease;
// }

// .project-box:hover img {
//   transform: scale(1.1);
// }

// .overlay {
//   position: absolute;
//   bottom: 0;
//   background: rgba(0, 0, 0, 0.5);
//   width: 100%;
//   text-align: center;
//   padding: 10px;
//   color: white;
// }
